@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/null.scss';
@import "fonts";
@import './base/icons.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
	font-family: $fontFamily, sans-serif;
	color: $mainColor;
	font-size: $fontSize;
}

._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
/* 	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}
